extends ../layouts/base.pug

block styles
    <link rel="stylesheet" href="/static/styles/404#{minPrefix}.css">

block scripts
    <script src="/static/scripts/404#{minPrefix}.js"></script>

block content
    <div class="container">
        <img class="logo" src="#{imagesPath}/404-logo.svg">
        <h2 class="headding">Page not found</h2>
        <p class="message">You'll be redirected automatically to home page.</p>
    <div>