@import '../vars';

.page-draggable {
    margin: 0 300px;
    min-width: 320px;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__code {
        margin-top: -$header-height;
        width: 100%;
    }
}