@import 'reset';
@import '../colors';
@import '../vars';

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #444;
    padding: 0;
    margin: 0;
    font-weight: 100;
    background: #f6f6f6 url(../../assets/images/bg.svg) repeat;
    background-size: 8px;
    line-height: 1.3;
}

a {
    color: $blue;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.layout {
    &-no-header {
        .common {
            &-content {
                padding-top: 0;
            }
        }
    }
}

.common {
    &-header {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $header-height;
        width: 100%;
        padding: 10px 20px;
        background: #f6f6f6 url(../../assets/images/bg.svg) repeat;
        background-size: 8px;
        z-index: 999;

        &__logo {
            height: 20px;
            width: 90px;
            background-image: url(../../assets/images/puzzle-logo.svg);
            color: transparent;
        }
    }

    &-content {
        padding-top: $header-height;
        height: 100%;
    }

    &-button {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        border-radius: 20px;
        background: $gray;

        &:after {
            content: '→';
            position: relative;
            color: $blue;
            margin-left: 15px;
        }

        &:hover {
            &:after {
                right: -5px;
            }
        }
    }

    &-blockquote {
        width: 100%;
        background-color: $gray;
        border-left: 3px solid $blue;
        padding: 20px;
        display: block;
    }
}