@import 'reset';

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #333;
    padding: 0;
    margin: 0;
    font-weight: 100;
    background: #f6f6f6 url(../../assets/images/bg.svg) repeat;
    background-size: 8px;
    line-height: 1.3;
}

a {
    color: #333;
    text-decoration: none;
}