<!DOCTYPE html>
<html lang="en">
    <head>
        include ../includes/head.pug
    </head>
    <body>
        include ../includes/header.pug
        
        <div class="common-content">
            block content
        </div>
        
        include ../includes/scripts.pug
    </body>
</html>