- var siteName        = "Puzzle.js"
- var siteDescription = "Open source React UI library"
- var siteUrl         = "https://www.puzzlejs.com"
- var githubRepo      = "https://github.com/puzzlejs-ui/react"
- var assetsPath      = "../../assets"
- var imagesPath      = "../../assets/images"
- var scriptsPath     = "../../scripts"
- var stylesPath      = "../../styles"