include ./config.pug
include ./open-graph.pug
include ./fonts.pug
include ./styles.pug

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" type="image/png" sizes="32x32" href="${require('../../assets/images/favicon-16x16.png')}">
<link rel="icon" type="image/png" sizes="16x16" href="${require('../../assets/images/favicon-16x16.png')}">

 block title
    <title>#{siteName} - #{siteDescription}</title>

