<div class="common-header">
    <a href="/" title="#{siteName}">
        <h1 class="common-header__title">#{siteName}</h1>
    </a>

    <a href="#{githubRepo}" class="common-header__github" target="_blank" title="GitHub repository">
        <img src="#{imagesPath}/github-logo.svg">
    </a>
</div>